# PostgreSQL
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Storage
STORAGE_ENDPOINT =
STORAGE_ACCESSKEY =
STORAGE_SECRETKEY =
STORAGE_BUCKET =
STORAGE_USESSL =

# LLM
LLM_PROVIDER=
LLM_API_KEY=
LLM_MODEL=
LLM_MODEL_EMBEDDING=